html, body {height: 100%;}
// Imports
@import './icons';
@import './contextMenus';
@import './vendor/font-awesome-4.6.3/scss/font-awesome';

html {
  overflow-y: hidden;
  background: #2e3a4d;
  color: #fff;
}


#react-root {
  width: 100%;
  height: 100%;
}

#navbar,#content-list, .content-list-item,#content .react-context-menu-wrapper{
  background: #2e3a4d !important;
  color: #ccc;
  &:hover{
    color: #fff;
  }
}

.title{
  -webkit-app-region: drag;  
  background: #2e3a4d;
  margin: 0px !important;
  color: #fff;
  padding: 20px 20px 20px 30px;
  font-weight: 300;
  font-size: 16px;  
}

.title .fa-times,.title .fa-minus,.title .fa-window-restore{
  color: #fff;
  cursor: pointer;
  padding-left: 20px;
  -webkit-app-region: no-drag;
  font-weight: 300;
  font-size: 15px;
}


#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  &:focus{
    outline: none;
  }
  & #main-container {
    display: flex;
    outline: none;
    flex-basis: 100%;
    justify-content: flex-start;

  }
}

#navbar {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  flex-basis: auto;
  min-height: 60px;

  padding: 0px 5px;
  justify-content: space-between;

  .nav-left {
    max-width: 120px;
    min-width: 120px;
    justify-content: space-around;
  }

  .nav-center {
    flex-wrap: wrap;
    /* overflow: scroll; */

    & .nav-item {
      padding: 0px 2px;
      &:hover{
        color: #fff;
      }
    }
  }

  .nav-right {
    flex-basis: auto;
    max-width: 100px;
  }

  & .nav-item {
    padding: 2px 2px;
    &:hover{
      color: #fff;
    }
  }


  .is-disabled {
    opacity: 0.4;
    color: #fff;
  }
}

#sidebar {
  flex-basis: auto;
  align-items: flex-start;
  height: 100%;
  padding: 15px;
  width: 200px;
  border-right: 1px solid rgba(0,0,0,0.1);

  overflow-y: auto;
}

#content {
  flex-basis: 100%;
  overflow-y: auto;
  align-items: flex-start;
  background-color: #2e3a4d;
  height: 100vh;
  position: relative;

  .react-context-menu-wrapper {
    flex-basis: 100%;
    // align-items: flex-start;
    height: 100%;
    background-color: rgb(98%,98%,98%);

    position: relative;
  }

  #filter-content-search {
    position: fixed;
    right: 0;
    top: 60px; /* REFACTOR! Dependant on navbar height */

    display:flex;
    align-items: center;

    z-index: 2;
    width: 250px;
    height: 50px;

    padding: 10px;
    background: #2e3a4d;
    border: none;

    /* Efect */
    &.disappear {
      // position: absolute;
      top: 60px;
      z-index: 999;
      transition: top .1s linear;
      // -webkit-app-region: drag;  
      // background: #2e3a4d;
      border: none;
      // color: #ccc;
      // input{
      //   background: #2e3a4d;
      //   color: #fff;
      // }
      // margin: 0px !important;
      // color: #fff;
      // padding: 20px 20px 20px 30px;
      // font-weight: 300;
      // font-size: 16px;

    }

    /* Content search input */
    input[type="text"] {
      display: block;
      margin: 0;
      width: 100%;
      font-family: sans-serif;
      /* font-size: 18px; */
      appearance: none;
      box-shadow: none;
      border-radius: none;
      background: #2e3a4d;
      color: #fff;
    }
    input[type="text"]:focus {
      outline: none;
    }
    /* Should be applied to all inputs? */
    input[type="text"] {
      padding: 5px;
      border: none;
      border-bottom: solid 1px #c9c9c9;
      transition: border 0.3s;
    }
    input[type="text"]:focus,
    input[type="text"].focus {
      border-bottom: solid 1px #969696;
    }

    label {
      margin-right: 20px;
    }
  }

  &-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;

    .react-context-menu-wrapper {

        max-width: 120px;
        height: 110px;

        margin: 15px;

        display: flex;
        justify-content: center;

        align-items: center;

        .content-list-item {
          width: 100%;
          height: 100%;

          border: 1px solid transparent;

          display: flex;
          flex-direction: column;
          align-items: center;

          justify-content: space-around;

          padding-top: 5px;

          border-radius: 10px;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid rgba(0,0,0,0.1);
          }

          span {
            overflow: hidden;
            max-width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .selected {
          background-color: white;
          border: 1px solid rgba(0,0,0,0.3);
          &:hover {
            border: 1px solid rgba(0,0,0,0.3);
          }
        }
    }

  }
}

#errors {
  position: fixed;
  right: 0;
  width: 300px;
  padding: 15px;
}

.hidden {
  opacity: 0.5;
}

.menu-list a:hover{
  color: #f5f7fa;
  background: #2e3a4d;
}


// scrollbar styling
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #ccc; 
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: #b3b3b3;
}
